*{
  margin: 0;
  box-sizing: border-box;
}

header {
  margin: auto;
  padding: 5rem 0;
  position: initial;
}


.caja {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

.caja .container-fluid {
  background-image: url("Img/fondoHuellas.png");
  background-repeat: round;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
}

.caja .container-fluid img {
  width: 30%;
  height: 30%;
  margin: 0 0 0 30%;
}

.caja .navbar-toggler {
  margin: 0 12% 0 0;
  border: 2px solid black;
  background-color: rgb(2, 2, 2);
}

.caja .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28240, 240, 240, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

nav {
  position: absolute;
  top: 80px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;

}

nav a {
  text-transform: uppercase;
  font-family: 'Prompt', sans-serif;
  color: rgb(134, 13, 134);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.bienvenida {
  /*background-image: url(Img/fondoColores.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 0;*/
  background: linear-gradient(white, black);
}

.carousel-slide {
  padding: 3em 5em 2em 5em;
  background: linear-gradient(white, black);
}

/* Inicio CSS del footer*/

footer {
  padding-top: 50px;
  background-color: black;
  display: flex;
}

.contenedor-contacto {
  padding-left: 150px;
  color: rgb(212, 200, 183);
}

.contenedor-menu {
 padding-left: 500px;
 color: rgb(212, 200, 183);
}

.contenedor-copyright {
  color: rgb(80, 73, 73);
  padding-top: 200px;
}

@media screen and (max-width: 480px) {
  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .caja,
  .productos,
  .main {
    width: auto;
  }
}